/* Reset de estilos */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 20px;
}

/* Estilos específicos para seções */
#sobre {
    background-color: #fff;
}

#projetos {
    background-color: #f4f4f4;
}

.projeto {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.projeto img {
    max-width: 100%;
    height: auto;
}

#contato {
    background-color: #fff;
}

/* Estilos para o rodapé */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
/* ... (código anterior) */

/* Estilos para a foto de perfil arredondada */
.perfil-foto {
    border-radius: 50%;
    width: 150px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 150px; /* Ajuste o tamanho da imagem conforme necessário */
    margin-right: 20px; /* Espaço entre a foto e o nome */
    border: 4px solid #fff; /* Adicione uma borda branca à imagem */
}

/* ... (código anterior) ... */


